#mainNav{
  color: white;
    padding: 0;
    height: 50px;
}

#sidebar{
    height: 100%;
}

.nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    background-color: #464f59;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.navbar-brand {
    padding-left: 20px;
}